<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ALOB dating</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-128x128">
            <img src="heart.png">
          </figure>
          <div class="section">
            <h1 class="title is-1 is-spaced">ALOB</h1>
            <h2 class="subtitle">
              <strong>A dating site for those with computer science tendencies</strong>
            </h2>
          </div>
        </div>
      </div>
    </nav>
  </div>
  </section>
  <section class="section">
    <div class="container">
      <p class="subtitle">
        "I met the love of my life, Bob, through ALOB!" –Alice
      </p>
      <p class="subtitle">
        "ALOB made it really easy to get past all the cryptic parts of getting to know someone." –Bob
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <a href="{{ url_for('find_partner') }}" class="button is-danger is-light is-large">Get Started!</a>
    </div>
  </section>
  </body>
</html>